*{
    box-sizing: border-box;
  }
  
  html, body{
    font-family: $font-family-regular;
    font-size: $s;
    line-height: $lh-default;
    font-weight: $fw-normal;
    hyphens: auto;
    color: $text-color;
    
  }

  img{
    width: 140px;
  }
  
  h1{
    font-size: $xl;
  }
  
  h2{
    font-size: $l;
  }
  
  h3{
    font-size: $m;
  }
  
  
  section{
    margin-bottom: $l;
  }
